@import "tailwindcss";
@import "@nuxt/ui-pro";
@source "../../content";
@theme static {
  --font-sans: 'Exo 2', sans-serif;
  --breakpoint-3xl: 1920px;
  --ui-color-neutral-50: var(--color-gray-50);
  --ui-color-neutral-100: var(--color-gray-100);
  --ui-color-neutral-200: var(--color-gray-200);
  --ui-color-neutral-300: var(--color-gray-300);
  --ui-color-neutral-400: var(--color-gray-400);
  --ui-color-neutral-500: var(--color-gray-500);
  --ui-color-neutral-600: var(--color-gray-600);
  --ui-color-neutral-700: var(--color-gray-700);
  --ui-color-neutral-800: var(--color-gray-800);
  --ui-color-neutral-900: var(--color-gray-900);
  --ui-color-neutral-950: var(--color-gray-950);
}

:root {
  --ui-primary: var(--color-red-500);
  --ui-secondary: var(--color-amber-500);
}

.dark {
  --ui-primary: var(--color-red-500);
  --ui-secondary: var(--color-amber-500);
}

@theme {
  --breakpoint-xs: 30rem;
}
